@import '@fontsource/victor-mono/400-italic.css';
@import '@fontsource/victor-mono/700-italic.css';
@import '@fontsource/victor-mono/400.css';
@import '@fontsource/victor-mono/700.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';
@import '@fontsource/manrope/400.css';
@import '@fontsource/manrope/500.css';
@import '@fontsource/manrope/600.css';
@import '@fontsource/manrope/700.css';
@import '@fontsource/manrope/800.css';

@import 'tailwindcss';

@theme {
	--font-sans:
		'Poppins', ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif:
		'Manrope', ui-serif, Georgia, Cambria, 'Times New Roman', Times,
		serif;
	--font-mono:
		'Victor Mono', ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/* Plugin configurations */
@plugin "@tailwindcss/typography";
@plugin "daisyui";
